<!DOCTYPE html>
<html>
<head>
  <title>my books online store</title>
  <% stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag    "depot", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>

<body id="store">
  <div id="banner">
    <%= image_tag("rails.png", {:height => 45})%>
    <%= @page_title || "My Bookshelf"%>
  </div>

  <div id="columns">
    <div id="side">  	
      <%= @current_time.strftime("%B %d %Y, %I:%M %p") %><br />
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">faq</a><br />
      <a href="http://www..../news">news</a><br />
      <a href="http://www..../contact">contact</a><br />
    </div>
    <div id="main">
<!---	# this is where rails will insert the data from the current view -->
      <%= yield %>
    </div>
  </div>
    
</body>
</html>
